/* Reset some default styles */
body {
    background-color: aqua;
  margin: 0 auto;
}

.sidepanel  {
  width: 0;
  position: fixed;
  z-index: 1;
  height: 250px;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidepanel a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidepanel a:hover {
  color: #f1f1f1;
}

.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
}

/* .openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  margin-left: 1235px;
  border: none;
} */


.openbtn{
  /* visual styles */
  font-size:20px;
  background:#111;
  color:#fff;
  padding:10px 15px;
  border:none;
  cursor:pointer;

  /* positioning */
  position:fixed;   /* or absolute */
  top:60px;
  right:10px;
}

.openbtn:hover {
  background-color:#444;
}
h1 {
  margin: 20px;
  padding: 20px;
  font-family: Arial, sans-serif;
  line-height: 1.6;
}
 h3,p,strong, ul {
  margin: 20px;
  padding: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1;
}h3 , div {
  background-color: lightblue;
}
/* Style the flex container */
.flex-container {
  display: flex;
flex-direction: row;
  justify-content: space-around;
  background-color: lighblue;
}
i{
  font-size: 2em;
  color: black;
  margin: 10px;
}

img {
  max-width: auto;   /* Makes the image responsive */
  height: auto;
}
.image-container{
  background-image: url("fullstackimg.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 18.75rem;
}
  
header {
  background-color: cornflowerblue;
  color: black(128, 128, 128);
  text-align: center;
  padding: 10px ;
}
  
header h1 {
    font-size: 3em;
}
  
header nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 6.25rem;
}
  
  header nav ul li {
    margin: 10px 10px;
  }
  
  header nav ul li a {
    color: rgb(10, 20, 20);
    text-decoration: none;
  }
  
  section {
    padding: 0.625rem;
    margin: 0.625rem;
  }
  
  #portfolio {
    margin-bottom: 0.313rem;
  }
  
  footer {
    background-color: #333;
    color: rgb(3, 125, 170);
    text-align: center;
    padding: 0.625rem ;
  }
  