/* Reset some default styles */
body {
  background-color: rgb(86, 68, 65);
  margin: 0 auto;
}

h1, h2, h3, p, ul {
  margin: 20px;
  padding: 20px;
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

.flex-container {
  display: flex;
  justify-content: space-around;
  background-color: aqua;
}

img {
  max-width: 100%;   /* Makes the image responsive */
  height: auto;
}
.image-container{
  background-image: url("fullstackimg.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 18.75rem;
}
  
header {
  background-color: cornflowerblue;
  color: black(128, 128, 128);
  text-align: center;
  padding: 10px 0;
}
  
header h1 {
    font-size: 3em;
}
  
header nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 6.25rem;
}
  
  header nav ul li {
    margin: 10px 10px;
  }
  
  header nav ul li a {
    color: rgb(10, 20, 20);
    text-decoration: none;
  }
  
  section {
    padding: 0.625rem;
    margin: 0.625rem;
  }
  
  #portfolio .project {
    margin-bottom: 0.313rem;
  }
  
  footer {
    background-color: #333;
    color: gainsboro;
    text-align: center;
    padding: 0.625rem 0;
  }
  